APP_NAME=DICE-POKEMON

MONGODB_URL=mongodb+srv://nomeDoUsuario:senha@nome-do-cluster-em-minúsculo.0bwd6.mongodb.net/NOME-DO-BANCO

NODE_ENV=development

JWT_SECRET=COLOCAR-O-SEU-SEGREDO-AQUI
JWT_EXPIRATION_REFRESH_TOKEN=12h
JWT_EXPIRATION_ACESS_TOKEN=5m

SWAGGER_DEV_URL="http://localhost:3072"
SWAGGER_PROD_URL="http://localhost:3072"

PORT=3072