APP_NAME=DICE-POKEMON

MONGODB_URL=mongodb+srv://nomeDoUsuario:senha@nome-do-cluster-em-minúsculo.0bwd6.mongodb.net/NOME-DO-BANCO

NODE_ENV=development

JWT_SECRET=usar-uma-string-aleatoria

PORT=3072